## Imports

In [12]:
import pandas as pd 
import numpy as np

## Lendo os Dados

In [13]:
df = pd.read_csv('Datasets/ifood-restaurants-november-2020.csv', sep=',', header=0)

In [14]:
df.head(5)

          version https://git-lfs.github.com/spec/v1
0  oid sha256:f4257c847618dc1bcf739c2d142592300ed...
1                                     size 119072837

## Selecionando Variaveis Covenientes

In [16]:
df_sel = df[['category', 'delivery_fee', 'delivery_time', 'distance', 'name', 'rating']]

KeyError: "None of [Index(['category', 'delivery_fee', 'delivery_time', 'distance', 'name',\n       'rating'],\n      dtype='object')] are in the [columns]"

In [ ]:
numericas = df_sel.select_dtypes(include=['int64', 'float64']).columns.tolist()
categoricas = df_sel.select_dtypes(include=['object']).columns.tolist()

print('Variaveis Numericas: ', numericas)
print('Variaveis Categoricas: ', categoricas)

Variaveis Numericas:  ['delivery_fee', 'delivery_time', 'distance', 'rating']
Variaveis Categoricas:  ['category', 'name']

In [ ]:
# Removendo item da lista
numericas.pop(3)

'rating'

## Usando função describe

In [ ]:
df_sel.describe() # retorna as principais medidas estatisticas para as variaveis numericas

        delivery_fee  delivery_time       distance         rating
count  361447.000000  361447.000000  361447.000000  361447.000000
mean        6.450367      47.758629       4.266978       2.767922
std         4.062925      19.586370      69.433192       2.254964
min         0.000000      -5.000000       0.010000       0.000000
25%         4.000000      35.000000       1.770000       0.000000
50%         5.990000      45.000000       3.060000       4.227270
75%         8.990000      60.000000       4.760000       4.758170
max        40.000000    5060.000000   11810.190000       5.000000

## Usando a função mode()

In [ ]:
df_sel['category'].mode()

0    Lanches
Name: category, dtype: object

In [ ]:
df['category'].mode()[0]

'Lanches'

In [ ]:
df_sel['delivery_fee'].mode()[0]

0.0

## Avaliando a moda das variaveis

In [ ]:
for variavel in categoricas: 
    contagens = df_sel[variavel].value_counts()

    if(len(contagens) > 1): 
        print("<><><><><><><><><><><><><><><><><>")
        print(f'Variavel: {variavel}')
        print(f'Moda: {df_sel[variavel].mode()[0]}\n')
        print(f'{contagens.iloc[0:5]}\n')
    else:
        print("<><><><><><><><><><><><><><><><><>")
        print(f'Variavel: {variavel}')
        print(f'Moda: {df_sel[variavel].mode()[0]}\n')
        print(f'{contagens}\n')

<><><><><><><><><><><><><><><><><>
Variavel: category
Moda: Lanches

category
Lanches          89331
Brasileira       67027
Doces & Bolos    34041
Pizza            33797
Açaí             17837
Name: count, dtype: int64

<><><><><><><><><><><><><><><><><>
Variavel: name
Moda: Sabor Caseiro

name
Sabor Caseiro        165
Divino Sabor         113
Sabor de Casa        102
Doce Sabor           100
Cantinho do Sabor     91
Name: count, dtype: int64

In [ ]:
for variavel in numericas: 
    # Calculando a amplitude
    amplitude = df_sel[variavel].max() - df_sel[variavel].min()

    # Imprime o resultado 
    resultado = f'Amplitude de {variavel}: {amplitude}'
    print(resultado)

Amplitude de delivery_fee: 40.0
Amplitude de delivery_time: 5065
Amplitude de distance: 11810.18

## Função mean()

In [ ]:
df_sel

,category,delivery_fee,delivery_time,distance,name,rating
0,Lanches,9.00,80,6.20,El'moedor,4.30303
1,Doces & Bolos,6.00,35,3.03,Delicia de Brigadeiro,0.00000
2,Brasileira,4.00,40,1.51,Pizzaria Rappi10 - Moreno,0.00000
3,Lanches,0.00,50,0.79,Tapioca Arretada,5.00000
4,Salgados,12.99,36,5.12,Minuto Kit Festa ( Salgados e Doces ),5.00000
...,...,...,...,...,...,...
361442,Brasileira,3.99,18,1.66,Restaurante Nosso Tempero,0.00000
361443,Lanches,3.99,18,1.70,Belgian Waffles,0.00000
361444,Pizza,8.00,45,1.34,Sabor de Campos Pizzaria e Restaurante,0.00000
361445,Cafeteria,1.00,35,0.20,Maria Bonita,0.00000
361446,Doces & Bolos,0.00,60,0.96,Cacau Show - Supermercado Campos Salles,5.00000

In [ ]:
numericas

['delivery_fee', 'delivery_time', 'distance']

In [ ]:
df_sel['delivery_fee'].mean()

6.450366637432319

In [ ]:
df_sel[numericas].mean()

delivery_fee      6.450367
delivery_time    47.758629
distance          4.266978
dtype: float64

In [ ]:
df_sel[numericas].mode()

   delivery_fee  delivery_time  distance
0           0.0             60      2.46

In [ ]:
# Calculando a media das variaveis numericas
df_sel["delivery_fee"].mean()

6.450366637432319

In [ ]:
df_sel[numericas].mean()

delivery_fee      6.450367
delivery_time    47.758629
distance          4.266978
dtype: float64

In [ ]:
for variavel in numericas: 
    print(f'{variavel}: {df_sel[variavel].mean()}')

delivery_fee: 6.450366637432319
delivery_time: 47.75862851261734
distance: 4.266977952507558

## Usando a função median()

In [ ]:
df_sel["delivery_fee"].median()

5.99

## var() - Variância

In [ ]:
df[numericas].var()

delivery_fee       16.507356
delivery_time     383.625905
distance         4820.968178
dtype: float64

In [ ]:
df[numericas].std() # desvio padrão

delivery_fee      4.062925
delivery_time    19.586370
distance         69.433192
dtype: float64

In [ ]:
variancia = df[numericas].var()
desvio_padrao = df[numericas].std()

# Imprime Resultado
print("Variância:")
print(variancia)
print("\nDesvio Padrão:")
print(desvio_padrao)

Variância:
delivery_fee       16.507356
delivery_time     383.625905
distance         4820.968178
dtype: float64

Desvio Padrão:
delivery_fee      4.062925
delivery_time    19.586370
distance         69.433192
dtype: float64

## Criando Boxplots

In [18]:
import matplotlib.pyplot as plt 
import pandas as pd

In [19]:
dataframe = pd.read_csv('Datasets/ifood-restaurants-november-2020.csv', sep=',', header=0)
dataframe

          version https://git-lfs.github.com/spec/v1
0  oid sha256:f4257c847618dc1bcf739c2d142592300ed...
1                                     size 119072837

In [20]:
numericas = dataframe.select_dtypes(include=['int64', 'float64']).columns.tolist()
numericas

[]

In [22]:
plt.figure(figsize=(10, 6))
plt.boxplot(dataframe['delivery_time'], labels=['delivery_time'])
plt.title('Boxplot da Variavel delivery_time')
plt.ylabel("Tempo de Entrega")
plt.show()

KeyError: 'delivery_time'

In [23]:
# Calculando Quartis
Q1 = df_sel['delivery_fee'].quantile(0.25)
Q3 = df_sel['delivery_fee'].quantile(0.75)

# Calculando o intervalo interquartil
IQR = Q3 - Q1

NameError: name 'df_sel' is not defined

In [ ]:
df_out = df[df['delivery_fee'] < (Q1 - 1.5 * IQR) | df['delivery_fee'] > (Q3 + 1.5 * IQR)]
df_out

In [ ]:
df_out.head(3)

In [24]:
print(f'Quantidade de outliers na base: {len(df_out)}')
print(f'Quantidade de outliers na base: {len(df_out)}')

NameError: name 'df_out' is not defined

## Retirando outliers

In [1]:
numericas = df.select_dtypes(include=['int64', 'float64']).columns.tolist()
numericas

NameError: name 'df' is not defined

In [ ]:
numericas.pop(3)

In [ ]:
df['delivery_fee'].quantile(0.25)

In [ ]:
Q1 = df['delivery_fee'].quantile(0.25)
Q3 = df['delivery_fee'].quantile(0.75)

In [ ]:
IQR = Q3 - Q1

In [ ]:
outliers_geral = df[df['delivery_fee'] < (Q1 - 1.5 * IQR) | df['delivery_fee'] > (Q3 + 1.5 * IQR)]

In [ ]:
print(f'Quantidade de outliers na base: {len(outliers_geral)}')
print(f'Quantidade de outliers na base: {len(outliers_geral)}')
print(f'Quantidade de outliers na base: {len(outliers_geral)}')