## Imports

In [2]:
import pandas as pd 
import numpy as np

## Lendo os Dados

In [3]:
df = pd.read_csv('Datasets/ifood-restaurants-november-2020.csv')

In [4]:
df.head(5)

,avatar,category,delivery_fee,delivery_time,distance,name,price_range,rating,url,lat,long
0,https://static-images.ifood.com.br/image/uploa...,Lanches,9.00,80,6.20,El'moedor,CHEAP,4.30303,https://www.ifood.com.br/delivery/vitoria-de-s...,-8.11298,-35.215
1,https://static-images.ifood.com.br/image/uploa...,Doces & Bolos,6.00,35,3.03,Delicia de Brigadeiro,CHEAPEST,0.00000,https://www.ifood.com.br/delivery/moreno-pe/de...,-8.11298,-35.115
2,https://static-images.ifood.com.br/image/uploa...,Brasileira,4.00,40,1.51,Pizzaria Rappi10 - Moreno,CHEAPEST,0.00000,https://www.ifood.com.br/delivery/moreno-pe/pi...,-8.11298,-35.115
3,https://static-images.ifood.com.br/image/uploa...,Lanches,0.00,50,0.79,Tapioca Arretada,CHEAPEST,5.00000,https://www.ifood.com.br/delivery/jaboatao-dos...,-8.11298,-35.015
4,https://static-images.ifood.com.br/image/uploa...,Salgados,12.99,36,5.12,Minuto Kit Festa ( Salgados e Doces ),CHEAPEST,5.00000,https://www.ifood.com.br/delivery/jaboatao-dos...,-8.11298,-35.015

## Selecionando Variaveis Covenientes

In [5]:
df_sel = df[['category', 'delivery_fee', 'delivery_time', 'distance', 'name', 'rating']]

In [6]:
numericas = df_sel.select_dtypes(include=['int64', 'float64']).columns.tolist()
categoricas = df_sel.select_dtypes(include=['object']).columns.tolist()

print('Variaveis Numericas: ', numericas)
print('Variaveis Categoricas: ', categoricas)

Variaveis Numericas:  ['delivery_fee', 'delivery_time', 'distance', 'rating']
Variaveis Categoricas:  ['category', 'name']

## Usando função describe

In [7]:
df_sel.describe() # retorna as principais medidas estatisticas para as variaveis numericas

        delivery_fee  delivery_time       distance         rating
count  361447.000000  361447.000000  361447.000000  361447.000000
mean        6.450367      47.758629       4.266978       2.767922
std         4.062925      19.586370      69.433192       2.254964
min         0.000000      -5.000000       0.010000       0.000000
25%         4.000000      35.000000       1.770000       0.000000
50%         5.990000      45.000000       3.060000       4.227270
75%         8.990000      60.000000       4.760000       4.758170
max        40.000000    5060.000000   11810.190000       5.000000

## Usando a função mode()

In [8]:
df_sel['category'].mode()

0    Lanches
Name: category, dtype: object

In [9]:
df['category'].mode()[0]

'Lanches'

In [10]:
df_sel['delivery_fee'].mode()[0]

0.0

## Avaliando a moda das variaveis

In [11]:
for variavel in categoricas: 
    contagens = df_sel[variavel].value_counts()

    if(len(contagens) > 1): 
        print("<><><><><><><><><><><><><><><><><>")
        print(f'Variavel: {variavel}')
        print(f'Moda: {df_sel[variavel].mode()[0]}\n')
        print(f'{contagens.iloc[0:5]}\n')
    else:
        print("<><><><><><><><><><><><><><><><><>")
        print(f'Variavel: {variavel}')
        print(f'Moda: {df_sel[variavel].mode()[0]}\n')
        print(f'{contagens}\n')

<><><><><><><><><><><><><><><><><>
Variavel: category
Moda: Lanches

category
Lanches          89331
Brasileira       67027
Doces & Bolos    34041
Pizza            33797
Açaí             17837
Name: count, dtype: int64

<><><><><><><><><><><><><><><><><>
Variavel: name
Moda: Sabor Caseiro

name
Sabor Caseiro        165
Divino Sabor         113
Sabor de Casa        102
Doce Sabor           100
Cantinho do Sabor     91
Name: count, dtype: int64

## Função mean()

In [12]:
df_sel

,category,delivery_fee,delivery_time,distance,name,rating
0,Lanches,9.00,80,6.20,El'moedor,4.30303
1,Doces & Bolos,6.00,35,3.03,Delicia de Brigadeiro,0.00000
2,Brasileira,4.00,40,1.51,Pizzaria Rappi10 - Moreno,0.00000
3,Lanches,0.00,50,0.79,Tapioca Arretada,5.00000
4,Salgados,12.99,36,5.12,Minuto Kit Festa ( Salgados e Doces ),5.00000
...,...,...,...,...,...,...
361442,Brasileira,3.99,18,1.66,Restaurante Nosso Tempero,0.00000
361443,Lanches,3.99,18,1.70,Belgian Waffles,0.00000
361444,Pizza,8.00,45,1.34,Sabor de Campos Pizzaria e Restaurante,0.00000
361445,Cafeteria,1.00,35,0.20,Maria Bonita,0.00000
361446,Doces & Bolos,0.00,60,0.96,Cacau Show - Supermercado Campos Salles,5.00000

In [13]:
numericas

['delivery_fee', 'delivery_time', 'distance', 'rating']

In [14]:
df_sel['delivery_fee'].mean()

6.450366637432319

In [15]:
df_sel[numericas].mean()

delivery_fee      6.450367
delivery_time    47.758629
distance          4.266978
rating            2.767922
dtype: float64

In [16]:
df_sel[numericas].mode()

   delivery_fee  delivery_time  distance  rating
0           0.0             60      2.46     0.0

In [17]:
# Calculando a media das variaveis numericas
df_sel["delivery_fee"].mean()

6.450366637432319

In [18]:
df_sel[numericas].mean()

delivery_fee      6.450367
delivery_time    47.758629
distance          4.266978
rating            2.767922
dtype: float64

In [19]:
for variavel in numericas: 
    print(f'{variavel}: {df_sel[variavel].mean()}')

delivery_fee: 6.450366637432319
delivery_time: 47.75862851261734
distance: 4.266977952507558
rating: 2.7679222784281823

## Usando a função median()

In [20]:
df_sel["delivery_fee"].median()

5.99