# Amostragem Aleatória Simples

In [14]:
import pandas as pd 
import numpy as np 

base = pd.read_csv(
    "Datasets/analise_imoveis_sao_paulo.csv",
    sep=';',
    header=0
).drop(columns=['Unnamed: 0'])

In [11]:
base.head(5)

,Rua,Bairro,Cidade,area_m2,quartos,banheiros,vagas,price
0,"Avenida Itacira, 255",Planalto Paulista,São Paulo,1000,4,8,6,R$ 7.000.000
1,"Rua Aurelia Perez Alvarez, 42",Jardim dos Estados,São Paulo,469-524,3-6,3-6,4,R$ 3.700.000
2,Rua Alba Valdez,Jardim Reimberg,São Paulo,125,4,3,2,R$ 380.000
3,"Jardim Morumbi, São Paulo",SP,NaN,310,3,2,4,R$ 685.000
4,"Rua Tobias Barreto, 195",Mooca,São Paulo,100,3,2,2,R$ 540.000

In [12]:
base.shape

(10033, 8)

In [23]:
populacao = base.copy()
amostra = populacao.sample(n=100, random_state=10)